body{
  margin-top: 0px;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  color: black;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
  flex-grow: 0;
}

a{
  color: white;
}

/*Header*/

header{
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid black;
  color: white;
  margin-top: 0px;
overflow: scroll;
}

header img{

  padding-left: 10px;
}

nav{
text-align: right;
font-weight: bold;
flex-grow: 1;
display: block;
margin-right: 20px;
color: white;
}

nav span{
display: inline-block;
padding: 20px 10px;
color: white;
}

.main{
  padding-top: 70px;

  margin: 0;
  overflow: scroll;
  align-content: center;
  color: black;
  display: block;
}

.flex-container{
  display: flex;
      justify-content: center;
      flex-wrap: wrap;

}

h1 {
  padding: 30px;
}

section {
    padding: 0 3em 3em 3em;
}

/*Mission*/

.overflowcontainer{
  position: relative;
  overflow: auto;
}

#about{
      background-image: url(./images/IMG_1278.jpg);
      background-size: cover;
      background-position: center;

      background-attachment: fixed;

    background-repeat: no-repeat;
      min-height: 100%;
}

#about .content{
  display: block;
  margin: auto;
background-color: black;
width: 600px;
padding: 10px;
text-align: center;
}


h2, h4{
  margin: 0;
  padding: 10px;
}


/*Adventures*/

#adventureblock{
  margin: 3em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;

  align-content: center;
}

.flex-container-adventures{
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

.adventuretitle{
display: block;
justify-content: center;
width: 1000px;
text-align: center;
}

.categorie img{
  display: block;
  height: 200px;
  width: 300px;
  align-content: center;
  padding: 10px 25px 0px 25px;
}
.categorie span{
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

/* Portfolio Section */

#portfolio {
  background-color: #eee;
}

img-responsive {
  height: 200px;
  width: 200px;
  margin: 20px 0;
}

/*Locations*/

#locations{
  text-align: center;
  height: 500px;
  background-image: url(./resources/img-locations-background.jpg);
  margin-bottom: 3em;
}

.adress{
  display: block;
  margin: 15px 40px;
  width: 300px;
  text-align: center;
  align-content: center;
  background-color: black;
  color: white;
}

.adress p{
  margin: 50px auto;
}

/*Footer*/
footer {
  background: black;
  position: relative;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.copywright{
  margin-top: 30px;
  font-size:
}
